<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
    </head>

    <body>
        <h2>Image Upload</h2>
         <!--<form action="/submit" method=post>-->
            <input type="file" id="image_input" accept="image/jpg, image/png, image/jpeg" name="filename">
                <div id = "display_image"></div>
            <!--<input type="submit">-->
         <!--</form>-->
    <body>

<html>